:root {
  --body-background: #f3f8ff;
  --body-color: #ffffff;
  --countdown-box-background: #7e7e7e;
  --countdown-box-color: #ffffff;
  --legend-color: #ffffff;
  --birthdate-color: #2600ff;
  --highlight: #2600ff;
}
